<div id="user-info" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="username-card" class="card text-white">
                <div id="user-card-body" class="card-body">
                    <h5 class="card-title">Welcome davhul!</h5>
                    <p class="card-text"> Your most recent score is: </p>
                </div>
            </div>
        </div>
    </div>
</div>
