<div id="user-info" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="username-card" class="card text-white">

            </div>
        </div>
    </div>
</div>
